.slider-block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    @include adaptiv (gap, 32, 12, 1);
    &__btn {
        padding: 0px 80px;
        border-radius: 32px;
        height: 67px;
        color: $light;
        border: 1px solid $light;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        transition: all 0.5s ease 0s;
        &:hover {
         opacity: 30%;
        }
        @media (max-width: 1024px) {
            border: 1px solid #5B0E58;
            color: #5B0E58;
        }
        @media (max-width: 767.98px) {
            padding: 0 25px;
            height: 34px;
        }
    }
    .swiper-slide-shadow-left,
    .swiper-slide-shadow-right {
        display: none !important;
    }
    .swiper {
        width: 374px;
        @media (min-width: 767.98px) {
            overflow: visible;
        }
        @media (max-width: 425px) {
            @include adaptiv (width, 374, 320, 1);
        }
    }
    .swiper-slide {
        transition: all 0.3s;
        @media (min-width: 767.98px) {
            transform: translateX(-250%) !important;
            &-active {
                transform: translate(0, 25%) !important;             
                z-index: 4;
            }
            &-prev {
                transform: translateX(50%) !important
            }
            &-next {
                transform: translateX(-50%) !important
            }
            &-next:first-child {
                transform: translateX(250%) !important
            }
        }

    }

    .slide-image {
        position: relative;
        width: 100%;
        padding-bottom: 83%;
        &_small {
            @media (max-width: 425px) {
                max-width: 260px;
                margin: 0 auto;
            }
        }
   
        @media (max-width: 425px) {
            height: 216px;
            padding-bottom: 0px;
            &:not(.slide-image_small) {
                img {
                    left: -10%;
            }
        }
        }
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
           
            object-position: right;
            @media (min-width: 425.98px) {
                object-fit: cover;
            }
        }
    }
    .swiper-navigation {
     
        justify-content: center;
        display: flex;
        align-items: center;
        @include adaptiv (gap, 30, 15, 1);
        @media (min-width: 425px) {
            margin-top: 74px;
        }
       
            
        
    }
    .swiper-button-prev {
       
       &:active {
        transform: translate(-2px, 2px);
       } 
    }
    .swiper-button-next {
        &:active {
            transform: translate(-2px, 2px);
           } 
    }
    .swiper-button-prev,
    .swiper-button-next {
        width: 68px;
        height: 68px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        transition: all 0.5s ease 0s;
        @media (max-width: 1024px) {
            width: 34px;
            height: 34px;
            svg {
                path,
                circle {
                    stroke: #5B0E58;
                }
                width: 34px;
                height: 34px;
            }
        }
    }
}